xterm*termName: xterm-256color
XTerm*utf8Title: true
XTerm*renderFont: true
XTerm*faceName: Monospace:style=Book:antialias=false
XTerm*faceSize: 10
XTerm*saveLines: 1000
XTerm*scaleHeight: 1.01
XTerm*loginShell: true
XTerm*metaSendsEscape: true
xterm*VT100.geometry: 80x32
XTerm*VT100*colorBDMode: on
XTerm*VT100*colorBD: blue
XTerm*VT100*colorULMode: on
XTerm*VT100*underLine: on
XTerm*VT100*colorUL: red
XTerm.VT100*dynamicColors: On
XTerm*scrollColor: black
XTerm*reverseVideo: on
XTerm*cursorColor: green
XTerm*foreground: rgb:83/94/96
XTerm*background: rgb:00/2B/36
XTerm*color0: rgb:CB/4B/16
XTerm*color1: rgb:DC/32/2F
XTerm*color2: rgb:85/99/B5
XTerm*color3: rgb:B5/89/00
XTerm*color4: rgb:26/8B/D2
XTerm*color5: rgb:D3/36/82
XTerm*color6: rgb:2A/A1/98
XTerm*color7: rgb:93/A1/A1
XTerm*color8: rgb:CB/4B/16
XTerm*color9: rgb:DC/32/2F
XTerm*color10: rgb:85/99/B5
XTerm*color11: rgb:B5/89/00
XTerm*color12: rgb:26/8B/D2
XTerm*color13: rgb:D3/36/82
XTerm*color14: rgb:2A/A1/98
XTerm*color15: rgb:93/A1/A1
